/*
        Entity Field Privacy
*/

.entity-field-privacy-container {
  position: relative;
  padding: 5px; /* leave some space for the widget */
  background: #f4f4f4;
  border-radius: 5px;
  margin: 5px 0;
}
.entity-field-privacy-wrapper {
  position: absolute;
  right: 5px;
  top: 5px;
}
.entity-field-privacy-container  .form-wrapper .entity-field-privacy-wrapper label {
  display: none;
}
.entity-field-privacy-container  .form-wrapper .entity-field-privacy-wrapper .form-item {
  margin: 0;
  padding: 0;
}
.entity-field-privacy-container .dd .ddTitle {
  cursor: pointer;
}

.entity-field-privacy-container .dd .ddChild ul,
.entity-field-privacy-container .dd .ddChild ul li {
  margin: 0;
}
.entity-field-privacy-container .dd .ddChild ul li {
  cursor: pointer;
}
.entity-field-privacy-container .field-privacy-widget {
  min-width: 150px;
}

/*
 * The original developer forgot to set webkit-border-radius for maximum compatibility, so we'll
 * override some of the styles here to add it in:
 */
.entity-field-privacy-container .borderRadius{
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  border-radius:5px;
}
.entity-field-privacy-container .borderRadiusTp{
  -moz-border-radius:5px 5px 0 0;
  -webkit-border-radius:5px 5px 0 0;
  border-radius:5px 5px 0 0;
}
.entity-field-privacy-container .borderRadiusBtm{
  -moz-border-radius:0 0 5px 5px;
  -webkit-border-radius:0 0 5px 5px;
  border-radius:0 0 5px 5px;
}

.entity-field-privacy-container .borderRadiusTp ul li:last-child{
  -moz-border-radius:0 0 5px 5px;
  -webkit-border-radius:0 0 5px 5px;
  border-radius:0 0 5px 5px;
}
.entity-field-privacy-container .borderRadiusBtm ul li:first-child{
  -moz-border-radius:5px 5px 0 0;
  -webkit-border-radius:5px 5px 0 0;
  border-radius:5px 5px 0 0;
  border-bottom:1px solid #c3c3c3;
}

.entity-field-privacy-container .borderRadiusTp .border,
.entity-field-privacy-container .borderRadius .border{
  -moz-border-radius:0 0 5px 5px;
  -webkit-border-radius:0 0 5px 5px;
  border-radius:0 0 5px 5px
}
.entity-field-privacy-container .borderRadiusBtm .border{
  -moz-border-radius:5px 5px 0 0;
  -webkit-border-radius:5px 5px 0 0;
  border-radius:5px 5px 0 0
}

/* Fix the text input so it stays in behind */
.entity-field-privacy-container .ddcommon input.text {
  z-index: -5;
}

/*
 * Customise the drop-shadows
 */
.entity-field-privacy-container .ddcommon,
.entity-field-privacy-container .ddcommon .shadow{
  -moz-box-shadow:1px 1px 3px #333333;
  -webkit-box-shadow:1px 1px 3px #333333;
  box-shadow: 1px 1px 3px #333333;
}
.entity-field-privacy-container .borderRadius .shadow{
  -moz-box-shadow:1px 1px 3px #333333;
  -webkit-box-shadow:1px 1px 3px #333333;
  box-shadow: 1px 1px 3px #333333;
}
.entity-field-privacy-container .borderRadiusBtm .shadow{
  -moz-box-shadow:-1px -1px 3px #333333;
  -webkit-box-shadow:-1px -1px 3px #333333;
  box-shadow: -1px -1px 3px #333333
}
